@model IEnumerable<ShopEasyCRM.Models.Persona>

@{
    ViewData["Title"] = "Personas";
}

<h1>Personas</h1>

<p>
    <a asp-action="Create">Crear nueva persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Fecha de Nacimiento</th>
            <th>Estado</th>
            <th>Provincia</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroCedula">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroCedula">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroCedula">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
